.body {
    background-color: #111;
    width: 100vw;
    height: 100vh;
  }
  
.canvas {
background-color: rgba(0, 0, 0, 0);
width: 100vw;
height: 100vh;
display: block;
position: absolute;
top: 0px;
left: 0px;
}